
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.contact-us {
    padding: 2vw;
    background-color: #fff;
}

.container {
    
    justify-content: center;
    align-items: center;
    
    
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}



.contact-form {
    width: 100%;
    padding-left: 5vw;
    padding-right: 4vw;
   padding-top:1vw;
}

.contact-form h1 {
    margin-bottom: 20px;
    color: rgb(224, 150, 39);
    font-family:Marcellus ;
    font-size: 2.2vw;
    text-align: center;
}

.contact-form label {
    display: block;
    font-size: 1.3vw;
    margin-top: 1.5vw;
    margin-bottom: 6px;
    font-family: Roboto Mono;
    font-weight: bold;
    color: rgb(241, 38, 11);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    border: 1px sold black;
    
}

.contact-form button {
   font-family: Marcellus;
   font-weight: bold;
   font-size: 1.2vw;
    background-color: rgb(224, 150, 39);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: black;
    color:rgb(224, 150, 39) ;
    padding-left: 2vw;
}

@media (max-width: 768px) {
    

    .contact-form {
        padding: 2vw;
    }
}