
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar .as:hover {
    background-color:  rgb(241, 38, 11);
    color: rgb(255, 255, 255);
}
.navbar , .as{
    font-family: Titillium Web;
    font-size: 1.5vw;
    font-weight: bold;
    

}
.as{
    text-transform: uppercase;
    
}
.menu-icon {
    display: none;
    font-size: 4vw;
    color: rgb(241, 38, 11);
    cursor: pointer;
}
.navbar-menu {
    display: flex;
    margin-right:3vw ;
}
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction:row;
        width: 60%;
    }
    .navbar-menu.active {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
}