
body{
    
    padding: 0px;
    height:100%;
    margin: 0px;
    
}
.container{
    margin: 0px;
    padding: 0px;
}
.header{
    margin: 0;
    background-image: url('./portfolio images/background\ image.jpg') ;
    background-repeat: no-repeat;
    width: 100%;
    overflow: auto;
  
    background-size: cover;
    background-position: center center;
    margin: 0;
    height: auto;
}
.portfolio{
    font-family: Sacramento,cursive;
    font-size: 3.5vw;
    font-weight: 1000;
    padding-left: 1.5vw;
    margin-bottom: 0;
    margin-top: 0;
}

.hello{
    font-family: Jost, sans-serif;
    font-size: 2vw;
    padding-left: 5vw;
    margin-bottom: 0;
    margin-top: 40px;
    color: white;
}
.name{
    font-family: Jost;
    font-weight:bold;
    font-size: 4vw;
    margin-top: 2px;
    padding-left: 4vw;
    margin-bottom: 0;
}
.role{
margin-top: 0;
font-family: Montserrat Alternates, sans-serif;
font-weight: 400;
padding-left: 4vw;
font-size: 2.5vw;
}
.span{
    color: rgb(241, 38, 11);
}
button{
    color: rgb(241, 38, 11);
    margin-bottom: 60px;
   padding-left: 4.5vw;
   padding-right: 4.5vw;
   padding-top: 0.7vw;
   padding-bottom: 0.7vw;
    border: none;
    background-color: white;
    font-family: Jost, recursive;
    font-size: 1.3vw;
    border-radius: 0.2rem;
    font-weight: bold;
    box-shadow: 0 3px 12px 0 #000000;
    animation: example 1s ;
}
@keyframes example {
    0% {background-color: #ffffff;}
    50% {background-color: #ffffff;}
    100% {background-color: #ffffff;}
  }
button:hover{
    background-color: black;
    color: white;
}
.b1{
    margin-left: 4vw;
    
}
.b2{
    margin-left:2vw;
}
.heading{
    background-color: #ffffff;
    padding: 6vw;
    font-size: 1.2vw;
    text-align: center;
    color: rgb(241, 38, 11);
    font-family: Roboto Mono;
    margin-top: 0px;
    background-position: static;
    margin-bottom: 0;
}

.profile1{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    margin-bottom: 2vw;
    
    background-color: whitesmoke;
}
.prof{
    display: inline-block;
}
.text{
  
   
    padding: 3vw;
    margin: 0.5vw;
    font-size:1.5vw;
    font-family: Roboto Mono;
    font-weight: 600;
    text-align: justify;
    align-items: center;
    
}
.image,.image-3{
    margin: 0.5vw;
    padding: 2vw;
    align-content: center;
}
#educ{
    border-radius: 0.4rem;
    width: 52vw;
}

.prof-button{
    background-color: rgb(224, 150, 39);
    color: white;
    margin-top: 2vw;
}
.profile2{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    background-color: black;  
}
#skills{
    color: rgb(224, 150, 39);
    font-weight: bold;
    font-size: 2.8vw;
}
.text-2{
    color: white;
    
    padding: 3vw;
    margin: 0.5vw;
    font-size:1.3vw;
    font-family: Jost;
    font-weight: 600;
    text-align: justify;
    align-items: center;
}
.profile3{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    margin-bottom: 2vw;
    
    background-color: whitesmoke; 
}
.profile4{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    margin-bottom: 2vw;
    
    background-color: rgb(224, 150, 39);
}
.profile5{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    margin-bottom: 2vw;
    background-color: whitesmoke;
    
    
}.profile6,.profile7{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    margin-bottom: 2vw;
   
    
}
.text-3{
    padding: 3vw;
    margin: 0.5vw;
    font-size:1.2vw;
    font-family: Roboto Mono;
    font-weight: 600;
    text-align: justify;
    align-items: center; 
}
.text-4{
    padding: 3vw;
    margin: 0.5vw;
    font-size:1.3vw;
    font-family: Roboto Mono;
    font-weight: 600;
    text-align: justify;
    align-items: center;  
    
}
.text-5,.text-6,.text-7{
    padding: 3vw;
    margin: 0.5vw;
    font-size:1.3vw;
    font-family: Roboto Mono;
    font-weight: 600;
    text-align: justify;
    align-items: center;   
}
.image-2{
    margin: 0.5vw;
    padding: 2vw;
    align-content: center;
}
.image-3,.image-4,.image-5{
    margin: 0.5vw;
    padding: 2vw;
    align-content: center;   
}
.image-6,.image-7{
    margin: 0.5vw;
    padding: 2vw;
    align-content: center; 
    width: 12vw;
  
}
#experience{
    font-size: 2.8vw;
    margin-bottom:10vw;
}
#cert{
    color: white;
    
}
#image-6{
    width: 40vw;
    border-radius: 0.4rem;
 

}
#image-7{
    width: 47vw;
    border-radius: 0.4rem;
    
}
.gallery-heading{
    background-color: #000000;
    color: rgb(241, 38, 11);
    font-family: Sacramento,cursive;
    font-size: 5vw;
    font-weight: 1000;
    
    padding-top: 0.5vw;
    padding-bottom: 0.6vw;
    text-align: center;
}
.gallery-images {
position: relative;
height: auto;
width: 99%;
margin: auto;
padding: 0.5vw;
columns: 6;
column-gap: 0.5vw;
grid-auto-flow: row dense;
    
  }
  .gallery-images img{
    width: 100%;
    height: auto;
  }
.gallery-more{

margin: 1vw;
text-align: center;
padding: 1.6vw;

}
.more{
    background-color: rgb(224, 150, 39);
}
.more a{
    text-decoration: none;
    color: #fff;
    font-size: 2vw;
}
#ruler{
    width: 65%;
    margin-left: 15vw;
    border: 0.2px solid rgb(241, 38, 11);
    
}

label{
    font-family: Jost, sans-serif;
    font-size: 1.9vw;
    margin: 0.2vw;
    color: rgb(241, 38, 11);
    
}
.formside{
  
    background-color: whitesmoke;
    margin:auto;
    padding: 0.5vw;
    width: 100%;
}
.formside button{
    display: inline-block;
    margin-left: 6vw;
    margin-top: 1vw;
    border-radius: 1rem;
}
.formside h3{
    font-family: Jost, sans-serif;
    font-size: 3vw;
    margin-left: 3vw;
    color: rgb(224, 150, 39);
}
.formside form{
    margin-left: 3vw;
    display: flex;
}
.formside input{
    font-size: 1.2vw;
    color: rgb(241, 38, 11);
    padding: 1vw;
    border-radius: 1rem;
    border: none;
    
    background-color: black;
    padding-left: 0.9vw;
    width: 25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: 0 3px 7px 0 rgb(78, 48, 2);
}

@media screen and (max-width: 1200px) {
    /* Adjust grid properties for smaller screens */
    .profile1 {
    grid-template-columns: 1fr 1fr ;
    }
    .profile2,.profile3,.profile4,.profile5,.profile6,.profile7{
        grid-template-columns: 1fr 1fr;
    }
    .gallery-images{
        columns: 4;
    }


    }
    
    
    @media screen and (max-width: 960px) {
    /* Adjust grid properties for smaller screens */
    .profile1 {
    grid-template-columns: 1fr;
    margin: 0vw;
    padding: 3vw;
    
    }
    .gallery-images{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .profile2,.profile3,.profile4,.profile5, .profile6,.profile7{
    grid-template-columns: 1fr;
    margin: 0vw;
    padding: 3vw; 
    }
    
    
    .text{
        font-size: 2.5vw;
        margin: 3vw;
    }
    .text-2,.text-3{
        font-size: 2.5vw;
        margin: 3vw; 
    }
    .text-4,.text-5,.text-6,.text-7{
        font-size: 2.5vw;
        margin: 3vw; 

    }
    #educ,#image-6,#image-7{
        width: 80vw;
        margin: 2vw;
    }
    .prof-button{
        font-size: 2.2vw;
        margin-bottom: 0;
        margin-top: 3vw;
    }
   

    .formside input{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .formside button{
        margin-top: 2vw;
        margin-left: 5vw;
    }
    
    }
    
    @media screen and (max-width: 640px) {
        .gallery-images {
         
          columns: 3;
        }
      }

      @media screen and (max-width: 400px) {
        .gallery-images {
         
          columns: 2;
        }
      }