
body{
    
    padding: 0px;
    height:100%;
    margin: 0px;
    
}
.container{
    margin: 0px;
    padding: 0px;
}
.header{
    margin: 0;
    background-image: url('./portfolio images/background\ image.jpg') ;
    background-repeat: no-repeat;
    width: 100%;
    overflow: auto;
  
    background-size: cover;
    background-position: center center;
    margin: 0;
    height: auto;
}
.portfolio{
    font-family: Sacramento,cursive;
    font-size: 3.5vw;
    font-weight: 1000;
    padding-left: 30px;
    padding-top: 10px;
}
.hello{
    font-family: Jost, sans-serif;
    font-size: 2vw;
    padding-left: 5vw;
    margin-bottom: 0;
    margin-top: 10px;
    color: white;
}
.name{
    font-family: Jost;
    font-weight:bold;
    font-size: 4vw;
    margin-top: 2px;
    padding-left: 4vw;
    margin-bottom: 0;
}
.role{
margin-top: 0;
font-family: Montserrat Alternates, sans-serif;
font-weight: 400;
padding-left: 4vw;
font-size: 2.5vw;
}
.span{
    color: rgb(241, 38, 11);
}
button{
    color: rgb(241, 38, 11);
    margin-bottom: 60px;
   padding-left: 4.5vw;
   padding-right: 4.5vw;
   padding-top: 0.7vw;
   padding-bottom: 0.7vw;
    border: none;
    background-color: white;
    font-family: Jost, recursive;
    font-size: 1.3vw;
    border-radius: 0.2rem;
    font-weight: bold;
    box-shadow: 0 3px 12px 0 #000000;
    animation: example 1s ;
}
@keyframes example {
    0% {background-color: #ffffff;}
    50% {background-color: #ffffff;}
    100% {background-color: #ffffff;}
  }
button:hover{
    background-color: black;
    color: white;
}
.b1{
    margin-left: 4vw;
    
}
.b2{
    margin-left:2vw;
}
.heading{
    background-color: #ffffff;
    padding: 6vw;
    font-size: 1.2vw;
    text-align: center;
    color: rgb(241, 38, 11);
    font-family: Roboto Mono;
    margin-top: 0px;
    background-position: static;
    margin-bottom: 0;
}

.profile1{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    margin-bottom: 2vw;
    
    background-color: whitesmoke;
}
.prof{
    display: inline-block;
}
.text{
  
   
    padding: 3vw;
    margin: 0.5vw;
    font-size:1.5vw;
    font-family: Roboto Mono;
    font-weight: 600;
    text-align: justify;
    align-items: center;
    
}
.image{
    margin: 0.5vw;
    padding: 2vw;
    align-content: center;
}
#educ{
    border-radius: 0.4rem;
    width: 52vw;
}

.prof-button{
    background-color: rgb(255, 160, 19);
    color: white;
    margin-top: 2vw;
}
@media screen and (max-width: 1200px) {
    /* Adjust grid properties for smaller screens */
    .profile1 {
    grid-template-columns: 1fr 1fr ;
    }
    }
    
    
    @media screen and (max-width: 960px) {
    /* Adjust grid properties for smaller screens */
    .profile1 {
    grid-template-columns: 1fr;
    margin: 0vw;
    padding: 3vw;
    
    }
    .text{
        font-size: 2.5vw;
        margin: 3vw;
    }
    #educ{
        width: 75vw;
        margin: 2vw;
    }
    .prof-button{
        font-size: 2.2vw;
        margin-bottom: 0;
        margin-top: 3vw;
    }
    
    }
    